footer {
    background-color: aliceblue;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}


footer p{
    font-size: 22px;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
}