/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    background: #c850c0;
    background: linear-gradient(45deg, #4158d0, #c850c0);
    justify-content: center;
    padding: 33px 30px;
    min-height: 100vh;
}